@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 480px;
    min-width: 320px;
  }

  nav,
  .contacts-link {
    display: none;
  }

  .section-header {
    justify-content: space-between;
  }

  .js-menu-container {
    display: block;
  }

  .main-text {
    font-size: 36px;
    line-height: 40px;
    width: 318px;
  }

  .section-solutions {
    padding: 112px 0 112px 0;
  }

  .text-block-svgs {
    display: none;
  }

  .text-box {
    display: grid;
    margin: 0 auto;
  }

  .text-h {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  .text-p {
    width: 396px;
  }
  .text-text {
    margin-bottom: 72px;
  }

  .text-text:last-child {
    margin-bottom: 0;
  }

  .section-features {
    display: none;
  }

  .teams {
    display: grid;
    justify-content: center;
  }

  .team-block {
    margin-bottom: 72px;
  }

  .team-block:last-child {
    margin-bottom: 0;
  }

  .customers-icons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
  .customers-link {
    width: 190px;
  }

  .customers-block {
    width: 190px;
  }

  /* .footer-logo {
      display: grid;
      text-align: center;
    } */

  .section-footer {
    flex-direction: column;
  }

  .footer-block {
    margin: auto;
  }

  .footer-logo {
    display: block;
    text-align: center;
  }

  .media-links {
    margin-left: unset;
    margin: auto;
  }

  .social-media-text {
    display: block;
    text-align: center;
    margin-top: 72px;
  }

  .footer-box {
    margin-left: unset;
    flex-direction: column;
    align-items: center;
  }

  .footer-buttons {
    margin-bottom: 72px;
  }

  .footer-label-box {
    margin-right: unset;
    width: 396px;
  }

  .footer-label {
    text-align: center;
  }

  .footer-form-input {
    width: 100%;
  }
}
